body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

.main {
    background-color: rgba(245, 245, 245, 1);
    width: 29vw;
    outline: solid;
    outline-width: 3px;
    height: 76vh;
    border-radius: 25px;
    left: 50vw;
    top: 50vh;
    position: absolute;
    transform: translate(-50%, -50%);
}

.top {
    width: 25vw;
    height: 9.2vh;
    background-color: rgba(232, 233, 235, 1);
    border-radius: 30px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    top: 4%;
    padding: 0;
}

.topR {
    position: absolute;
    left: 0%;
    width: 54%;
    height: 100%;
    border-radius: 30px;
    border: none;
    background-color: rgba(121, 0, 248, 1);
    font-weight: bold;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

.topL {
    position: absolute;
    right: 0%;
    width: 54%;
    height: 100%;
    border-radius: 30px;
    border: none;
    background-color: rgba(120, 0, 248, 0);
    font-weight: bold;
    font-size: 35px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.LogintopR {
    position: absolute;
    left: 0%;
    width: 54%;
    height: 100%;
    border-radius: 30px;
    border: none;
    background-color: rgba(120, 0, 248, 0);
    font-weight: bold;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

.LogintopL {
    position: absolute;
    right: 0%;
    width: 54%;
    height: 100%;
    border-radius: 30px;
    border: none;
    background-color: rgba(121, 0, 248, 1);
    font-weight: bold;
    font-size: 35px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.submit {
    background-color: rgba(121, 0, 248, 1);
    border-radius: 20px;
    outline: none;
    width: 25vw;
    font-size: 2.3vw;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    bottom: 5vh;
    height: 8.5vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
    border: none;
}

.submitForgot {
    background-color: rgba(232, 233, 235, 1);
    border-radius: 20px;
    outline: none;
    width: 25vw;
    font-size: 2.3vw;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    bottom: 5vh;
    height: 8.5vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
    border: none;
}

.submitL {
    background-color: rgba(121, 0, 248, 1);
    border-radius: 20px;
    outline: none;
    width: 25vw;
    font-size: 2.3vw;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    bottom: 17vh;
    height: 8.5vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
    border: none;
}

.inputs {
    background-color: rgba(250, 250, 250, 0);
    bottom: 17vh;
    position: absolute;
    left: 50%;
    width: 25vw;
    height: 25vh;
    transform: translate(-50%, 0);
}

.username {
    width: 25vw;
    height: 8vh;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    font-size: 27px;
    bottom: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgba(232, 233, 235, 1);
}

.email {
    width: 25vw;
    height: 8vh;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    font-size: 27px;
    bottom: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgba(232, 233, 235, 1);
}

.password {
    width: 25vw;
    height: 8vh;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    font-size: 27px;
    bottom: 0%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgba(232, 233, 235, 1);
}

.passwordL {
    width: 25vw;
    height: 8vh;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    font-size: 27px;
    bottom: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgba(232, 233, 235, 1);
}

.messages {
    width: 87.9vw;
    height: 83.9vh;
    top: 10vh;
    right: 0vw;
    outline: solid;
    outline-width: 3px;
    position: absolute;
}

.content {
    width: 77.3%;
    height: 89%;
    outline: solid;
    outline-width: 3px;
    bottom: 0;
    position: absolute;
    left: 0.1vw;
}

.SendMessageDiv {
    background-color: rgba(255, 0, 0, 0);
    width: 88vw;
    height: 6vh;
    right: 0;
    bottom: 0;
    position: absolute;
}

.sendMessage {
    width: 22%;
    outline: solid;
    outline-width: 3px;
    border: none;   
    height: 100%;
    cursor: pointer;
    background-color: transparent;
    font-weight: bold;
    font-size: 30px;
    right: 0;
    bottom: 0;
    position: absolute;
}

.sender {
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0);
    font-size: 15px;
    width: 100%;
    margin-left: auto;
}

.otherMessage {
    background-color: #3575ff;
    color: #000000;
    border-radius: 15px;
    margin-bottom: 2vh;
    text-align: left;
    word-break: break-all;
    max-width: calc(40% - 14px);
    width: fit-content;
    margin-right: auto;
    padding: 7px;
}

.messagecontent {
    word-break: break-all;
    background-color: rgba(255, 0, 0, 0);
    margin-left: auto;
}

.chat-container {
    display: flex;
    flex-direction: column;
}

.myMessage {
    background-color: #4caf50;
    color: #000000;
    border-radius: 15px;
    margin-bottom: 2vh;
    text-align: right;
    word-break: break-all;
    max-width: calc(40% - 14px);
    width: fit-content;
    margin-left: auto;
    padding: 7px;
}






.user {
    background-color: rgba(245, 222, 179, 0);

    width: 100%;
    font-weight: bold;
    text-align: center;
    line-height: 5vh;
    font-size: 25px;
    height: 5vh;
    outline: solid;
    margin-bottom: 0.3vh;
    border: none;
    cursor: pointer;
    outline-width: 3px;
}

.usersMessages {
    background-color: rgba(153, 205, 50, 0);
    outline: solid;
    outline-width: 3px;
    bottom: 0px;
    left: 0px;
    width: 12vw;
    height: 90vh;
    position: absolute;
}